name: PR Verify

on:
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    name: "Run integration tests"
    runs-on: ubuntu-latest

    permissions:
      contents: read
      checks: write
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - kafka_provider: "confluent"
            provider_image_version: "8.0.0"
            kafka_connect_mode: "distributed"
            scylla_version: "6.2"
          - kafka_provider: "confluent"
            provider_image_version: "7.9.2"
            kafka_connect_mode: "distributed"
            scylla_version: "6.2"
          - kafka_provider: "confluent"
            provider_image_version: "7.8.3"
            kafka_connect_mode: "distributed"
            scylla_version: "6.2"
          - kafka_provider: "confluent"
            provider_image_version: "7.7.4"
            kafka_connect_mode: "distributed"
            scylla_version: "6.2"
          - kafka_provider: "confluent"
            provider_image_version: "7.6.6"
            kafka_connect_mode: "distributed"
            scylla_version: "6.2"
          - kafka_provider: "confluent"
            provider_image_version: "8.0.0"
            kafka_connect_mode: "standalone"
            scylla_version: "6.2"
          - kafka_provider: "apache"
            provider_image_version: "4.0.0"
            kafka_connect_mode: "distributed"
            scylla_version: "6.2"
          - kafka_provider: "apache"
            provider_image_version: "4.0.0"
            kafka_connect_mode: "standalone"
            scylla_version: "6.2"

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Increase fs.aio-max-nr limit
        run: |
          echo "Current fs.aio-max-nr value:"
          cat /proc/sys/fs/aio-max-nr
          sudo sysctl -w fs.aio-max-nr=1048576
          echo "New fs.aio-max-nr value:"
          cat /proc/sys/fs/aio-max-nr

      - name: Maven verify
        run: mvn -B verify -Dit.kafka.provider=${{ matrix.kafka_provider }} -Dit.provider.image.version=${{ matrix.provider_image_version }} -Dit.kafka.connect.mode=${{ matrix.kafka_connect_mode }} -Dit.scylla.version=${{ matrix.scylla_version }}

      - name: Parse test results
        uses: mikepenz/action-junit-report@v6
        if: always()
        with:
          check_name: Integration test report for ${{ matrix.kafka_provider }}:${{ matrix.provider_image_version }} running in ${{ matrix.kafka_connect_mode }} mode on ScyllaDB ${{ matrix.scylla_version }} version
          require_tests: false
          report_paths: "target/*-reports/TEST-*.xml"
          follow_symlink: true
          detailed_summary: true
          updateComment: false
          # Avoid errors on fork PRs where checks: write is not available
          annotate_only: true
